Requirements
- 0 -> 100 number on power sliders
- A and B for driving motors, C for 3rd motor.
- turning - wheels go in opposite directions.
- List of connected devices must handle more than 1. (all paired? or just NXT??)
- read battery and normalize
- name selection (Must be activity/intent)
- name selection popup. Be pretty... Ask a daughter to do it.
- Should show Name and ID.

Bonus requirements
- Recording sound for playback
- Lock screen in portrait (or make pretty landscape)
- alternative ways to drive
- get a sensor working
- popup window asking user to turn on bluetooth if it is turned off
- if the robot is turned off, disconnect from the bluetooth
- menu, with at least 2 items, preferences being one of them
- save preferences to the phone